 <div class="row-justify-center">
         <div class="d-flex">
          
              <div class="dropdown mr-1">
                <button type="button" class="btn btn-primary -btn-block" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,30">
                  Inicio
                </button>    
              </div>
              
              <div class="dropdown mr-1">
                <button type="button" class="btn btn-primary" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,30">

                  SERVICIOS
                </button> 
              </div>
               <div class="dropdown mr-1">
                <button type="button" class="btn btn-primary" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,30">
                  Altura del Rio
                </button>    
              </div>
               <div class="dropdown mr-1">
                <button type="button" class="btn btn-primary" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,30">
                  Clima Extendido
                </button>    
              </div>
               <div class="dropdown mr-1", class= "text-center">
                <button type="button" class="btn btn-primary" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,30">
                  Clasificados
                </button>    
          </div>
           </div>
               <div class="dropdown mr-1", class= "text-center">
                <button type="button" class="btn btn-primary" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,30">
                  prueba
                </button>    
          </div>
           </div>
          </div> 